General Requirements

+ At least 5 interfaces (with one or more implementations)
	1. IComment
	2. ISubordinate
	3. IManaging
	4. IAddingToDo (only for person who can add a todo to someone else)
	5.
+ At least 15 classes (implementing the application logic)
	1 .... 15
+ At least 3 abstract classes (with inheritors)
	1. Human (name, age...)
	2. User (username, password...)
	3. ....
+ At least 1 custom exception class (with usage in your code)
	1. 
+ At least 3 levels of depth in inheritance
	1. Human
		2. User
			3. Employee
+ At least 1 polymorphism usage
	1. 
+ At least 1 structure
	1.
+ At least 1 enumeration
	1. Priority (of a to do??)
+ At least 1 event (with subscribers)
	1.
+ At least 1 design pattern
	1.
